body
{
background-color: #222233;
    font: 2.3em / 2 "Times New Roman",Times,serif;
    color:#A8D4FF;
    margin:0;
    
}


section
{
display: flex;
flex-direction:row;
flex-wrap:wrap;
margin:2em;
height: 6em;
justify-content:space-evenly;
margin-right: 5.5em;
padding:.2em;
position:relative;
}

section:hover
{
    box-shadow: 0.15em 0.15em 0.15em#A8FFB1;
}

.border
{   
border-style: groove;
border-width: 0.1em;
background-color: #171721;
border-radius: 0.4em;
}

.border-nav-top
{
    border-style:none solid solid solid;
    border-width:0.1em;
    background-color: #171721;
    border-radius:0.1em;
    margin-right:0.05em;
    margin-top:0em;
}

.div-sticky
{
    top:0;
    position:sticky;
    margin:0;
    padding:0;
    z-index:2;  /*prioritate>, vine peste celelalte elemente*/

}

.nav-top
{
    display:flex;
    text-align:center;
    flex-direction:column;
    justify-content: center;
}

.nav-right
{
float:right;
display:block;
border-style: solid none solid solid;
border-radius: 0.4em;
font-size: 0.7em;
width: .5em;
height: 20em;
padding:0;
background-color:#171721;
}

.nav-right:hover
{
    width:7.5em;
}

aside
{
    top:2.1em;
    position: sticky;
    display:block;
    z-index:3;
}

a
{
    color:#A8D4FF;
    outline:none;
    text-align:center;
    word-wrap:break-word;
}

.hover-funct:hover
{
    font-size: 1.1em;
    color:#A8FFB1;
}

ul
{
    list-style-type:none;
}

.border-img
{
    color:rgb(0,10,0,.3);
    border-style:groove;
}

.img-game
{
   display:block;
   float:left;
   position:absolute;
   width: 4.75em;
   height: 4.25em;
   right:0.2em;
   left:1.2em;
   top:0.8em;
   margin:0;
}

.myacc-img
{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 4em;
   margin-bottom:0.2em;
   height: 4em;
}

.img-bestplayer
{
    display:block;
    float:right;
    position:absolute;
    width: 3.75em;
    height: 3.25em;
    right:1.2em;
    top:0.8em;
    margin:0;
}

.game-name
{
    position:absolute;
    display:block;
    margin:0;
    padding:0;
}

.bestplayer-name
{
    position:absolute;
    float:right;
    right:2em;
    top:6em;
    font-size:0.7em;
    margin:0;
}

.bestplayer-score
{
    position:absolute;
    float:right;
    right:4em;
    top:11em;
    font-size:0.5em;
    margin:0;
}

.play-button
{
    position:absolute;
    bottom:0em;
    border-style:solid solid none solid;
    border-width:0.1em;
    width:10em;
    left:17em;
}

.play-button-left
{
    position:absolute;
    bottom:0em;
    border-style:solid solid none solid;
    border-width:0.1em;
    width:8em;
    height:1.5em;
    left:8.85em;
}

.play-button-right
{
    position:absolute;
    bottom:0em;
    border-style:solid solid none solid;
    border-width:0.1em;
    width:8em;
    height:1.5em;
    left:27.15em;
}

.play-button:hover, .play-button-left:hover, .play-button-right:hover
{
    color:#A8FFB1;
}


@media only screen and (max-width:740px)
{
    body
{
background-color: #222233;
    font: 1em / 1 "Times New Roman",Times,serif;
    color:#A8D4FF;
    margin:0;
    
}


section
{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin:2em;
    height: 3em;
    justify-content:space-evenly;
    margin-right: 3em;
    padding:.1em;
    position:relative;
}

section:hover
{
    box-shadow: 0.15em 0.15em 0.15em#A8FFB1;
}

.border
{   
   border-style: groove;
   border-width: 0.1em;
   background-color: #171721;
   border-radius: 0.4em;
}

.border-nav-top
{
    border-style:none solid solid solid;
    border-width:0.1em;
    background-color: #171721;
    border-radius:0.1em;
    margin-right:0.05em;
    margin-top:0em;
}

.div-sticky
{
    top:0;
    position:sticky;
    margin:0;
    padding:0;
    z-index:2;  /*prioritate>, vine peste celelalte elemente*/

}

.nav-top
{
    display:flex;
    text-align:center;
    flex-direction:column;
    justify-content: center;
}

.nav-right
{
    float:right;
    display:block;
    border-style: solid none solid solid;
    border-radius: 0.4em;
    font-size: 0.7em;
    width: .5em;
    height: 15em;
    padding:0;
    background-color:#171721;
}

.nav-right:hover
{
    width:5.5em;
}

aside
{
    top:2.1em;
    position: sticky;
    display:block;
    z-index:3;
}

a
{
    color:#A8D4FF;
    outline:none;
    text-align:center;
    word-wrap:break-word;
}

.hover-funct:hover
{
    font-size: 1.1em;
    color:#A8FFB1;
}

ul
{
    list-style-type:none;
}

.border-img
{
    color:rgb(0,10,0,.3);
    border-style:groove;
}

.img-game
{
   display:block;
   float:left;
   position:absolute;
   width: 2.75em;
   height: 2.25em;
   right:0.1em;
   left:0.6em;
   top:0.4em;
   margin:0;
}

.myacc-img
{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 2em;
   margin-bottom:0.1em;
   height: 2em;
}

.img-bestplayer
{
    display:block;
    float:right;
    position:absolute;
    width: 1.75em;
    height: 1.25em;
    right:1em;
    top:0.4em;
    margin:0;
}

.game-name
{
    position:absolute;
    display:block;
    margin:0;
    padding:0;
}

.bestplayer-name
{
    position:absolute;
    float:right;
    right:1em;
    top:3em;
    font-size:0.6em;
    margin:0;
}

.bestplayer-score
{
    position:absolute;
    float:right;
    right:2em;
    top:5em;
    font-size:0.5em;
    margin:0;
}

.play-button
{
    position:absolute;
    bottom:0em;
    border-style:solid solid none solid;
    border-width:0.1em;
    width:3.5em;
    left:8.3em;
}

.play-button-left
{
    position:absolute;
    bottom:0.04em;
    border-style:solid solid none solid;
    border-width:0.1em;
    width:4.3em;
    height:0.75em;
    left:3.9em;
}

.play-button-right
{
    position:absolute;
    bottom:0.04em;
    border-style:solid solid none solid;
    border-width:0.1em;
    width:4.3em;
    height:0.75em;
    left:12em;
}

.play-button:hover, .play-button-left:hover, .play-button-right:hover
{
    color:#A8FFB1;
}
}