*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ABeeZee';
}
body{
    background-color: #e0e0e0;
}
.wrapper{
    margin:0 auto;
    width: 1000px;
 }
 .useless{
     margin:0;
     width:100%;
     height: 300px;
     /*background-color:#d8d8d8;*/
     overflow:hidden;
     max-width:100%;
     box-shadow: .5px .5px 5px #24252A;
 }
 .useless img{
     max-width:initial;
 }

 .dropdown{
    position:relative;
}
.dropdown-content{
    display:none;
    position:absolute;
    background-color:#24252A;
    min-width:160px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}
.dropdown-content a{
    color:white;
    padding:12px 16px;
    text-decoration:none;
    display:block;
}
.dropdown-content a:hover{
    background-color:#e0e0e0;
}
.dropdown:hover .dropdown-content{display:block;}
 /* top menu start*/
.top-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
}

.nav_links{
list-style:none;
}
.nav_links li{
display:inline-block;
padding: 0px 20px;
}
.nav_links li a{
transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
color: #0088a9;
}
.nav_links li form{
position: absolute;
left: 1500px;
top:25px;
}

li,a{
color:#edf0f1;
text-decoration:none;
}
/* top menu end*/
.button {
    position:absolute;
    top:270px;
    left: 630px;
    font-family: 'Baloo Bhai',cursive;
   display: inline-block;
   border-radius: 4px;
   background-color: #d8d8d8;
   border: none;
   color: #24252A;
   text-align: center;
   font-size: 28px;
   padding: 5px;
   width: 200px;
   height: 50px;
   transition: all 0.5s;
   cursor: pointer;
   margin: 5px;
 }
 
 .button span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
 }
 
 .button span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 .button:hover{
   background-color:#ff3333;
   color:#d8d8d8;
 }
 
 .button:hover span {
   padding-right: 25px;
   color:#d8d8d8;
 }
 
 .button:hover span:after {
   opacity: 1;
   right: 0;
 }
 .gameinfo{
    box-shadow: 2px 2px 5px #24252A;
    background-color:#24252A;
    position: relative;
    display:block;
    top:-100px;
    left:0;
    height:1000px;
    width: 1000px;
    color:#d8d8d8;
    padding: 20px;
}
.top-info{
    position:absolute;
}
.top-info h1{
    position:absolute;
    top:20px;
    left:600px;
    font-size:50px;
    width:350px;
}
.top-info figure{
    position:absolute;
    top:284px;
    left:330px;;
    display:flex;
    justify-content:space-evenly;
    overflow:hidden;
}
.top-info p{
    position:relative;
    top:5px;
    left:650px;
}
.top-info figure img{
    width:35px;
    height:35px;
}
.game-thumbnail{
    width: 300px;
    height:300px;
    position:absolute;
    top:20px;
    left:20px;
}
.submit_playtime{
    display:none;
    position:absolute;
    top:420px;
    left:40px;
    width: 200px;
}
.hr-sect {
    position:relative;
    top:340px;
   display: flex;
   flex-basis: 100%;
   align-items: center;
   margin: 8px 0px;
   color:#d8d8d8;
}
.hr-sect::before,
.hr-sect::after {
   content: "";
   flex-grow: 1;
   background: #edf0f1;
   height: 1px;
   font-size: 0px;
   line-height: 0px;
   margin: 0px 8px;
}
.reviews-list{
    top:420px;
    left:30px;
    position:relative;
    display: flex;
    flex-direction:column;
    flex-flow:wrap;
    width:200px;
}
.reviews-list p{
    font-size:23px;
}
.reviews-list p b{
    color:#ff3333;
}
.account-related-info{
    position:absolute;
    top:400px;
    left:500px;
    width:500px;
}
.account-related-info h2{
    position:absolute;
    top:0;
    margin-bottom:10px;
}

.friends-that-play-this{
   position:absolute;
   top:50px;
   font-size:20px;
}
.friends-that-play-this-list{
   font-size:20px;
    position:absolute;
    top:80px;
    list-style:none;
    left:30px;
}
.top_player{
    position:absolute;
    left:40px;
    top:400px;
    width:200px;
    text-align:center;
}
.top_player img{
    width:200px;
    height:200px;
}
.top_player p{
    font-size:15px;
}